.bigcontainer{
    margin-top:10px;
    padding: 30px;
    background:#fafbfc;
    
}
#bigcon{
    color:#ccc
}

.property{
    display:flex;

    
}
.child1{
    width:20%;
}
.child2{
    width:80%;
   
    background: #E1F9F4; 
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}